<div xmlns:th="http://www.thymeleaf.org"
	th:replace="admin\_layout :: base(content=~{::section},links=~{::link},scripts=~{::script})">
	<script th:src="@{/static/js/admin.manageQuestion.js}" defer></script>
	<section class="container-fluid">
		<div class="row">
			<div class="col-md-2 col-sm-12 mt-3">
				<nav class="nav nav-pills flex-column ">
					<a class="nav-item nav-link" th:href="@{/admin/}">Thống kê</a>
					<a class="nav-item nav-link" th:href="@{/admin/manage_accounts}">Quản lý tài khoản</a>
					<a class="nav-item nav-link active" th:href="@{/admin/manage_questions}">Quản lý câu hỏi</a>
				</nav>
			</div>
			<div class="col-md-10 col-sm-12 mt-5">
				<div class="row">
					<div class="col-12">
						<table id="tableAdmin" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th scope="col">STT</th>
									<th scope="col">Tiêu đề</th>
									<th scope="col">Số câu trả lời</th>
									<th scope="col">Lượt xem</th>
									<th scope="col">Danh mục</th>
									<th scope="col">Người đăng</th>
									<th scope="col">Ngày đăng</th>
									<th scope="col">Chức năng</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="question,iter : ${questions}">
									<th th:text="${iter.index+1}"></th>
									<td th:text="${question.title}"></td>
									<td th:text="${question.answers==null ? 0 : #lists.size(question.answers)}"></td>
									<td th:text="${question.view}"></td>
									<td th:text="${question.category.name}"></td>
									<td th:text="${question.author.userName}"></td>
									<td th:text="${#dates.format(question.createTime, 'dd-MMM-yyyy HH:mm')}"></td>
									<td><a href="" th:id="${question.id}" th:data-title="${question.title}" onclick="deleteQuestion.call(this)">Xóa</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>