<div xmlns:th="http://www.thymeleaf.org"
	th:replace="admin\_layout :: base(content=~{::section},links=~{::link},scripts=~{::script})">
	<link rel="stylesheet" th:href="@{/static/css/admin.manageAccount.css}" />
	<script th:src="@{/static/js/admin.manageAccount.js}" defer></script>
	<section class="container-fluid">
		<div class="row">
			<div class="col-md-2 col-sm-12 mt-3">
				<nav class="nav nav-pills flex-column ">
					<a class="nav-item nav-link" th:href="@{/admin/}">Thống kê</a>
					<a class="nav-item nav-link active" th:href="@{/admin/manage_accounts}">Quản lý tài khoản</a>
					<a class="nav-item nav-link" th:href="@{/admin/manage_categories}">Quản lý thể loại</a>
					<a class="nav-item nav-link" th:href="@{/admin/manage_questions}">Quản lý câu hỏi</a>
				</nav>
			</div>
			<div class="col-md-10 col-sm-12 mt-5">
				<div class="row">
					<div class="col-12 d-flex justify-content-end mb-2">
						<a th:href="@{/admin/add_account}" class="btn btn-primary">Thêm tài khoản</a>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<table id="tableAdmin" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th scope="col">Người dùng</th>
									<th scope="col">Họ và tên</th>
									<th scope="col">Vị trí công việc</th>
									<th scope="col">Đang hoạt động</th>
									<th scope="col">Tác vụ</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user : ${users}">
									<th scope="row" th:text="${user.userName}"></th>
									<td th:text="${user.fullName}"></td>
									<td th:text="${user.jobPosition}"></td>
									<td>
										<input type="checkbox" th:checked="${user.status}" th:id="${user.id}" th:data-user-name="${user.userName}" onchange="changeUserStatus.bind(this)()" />
									</td>
									<td><a th:href="@{'/admin/edit_account/'+${user.id}}">Sửa</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>