<div xmlns:th="http://www.thymeleaf.org"
	th:replace="admin\_layout :: base(content=~{::section})">
	<script th:src="@{/static/js/Chart.min.js}" defer></script>
	<script th:inline="javascript">
		var reports = [[${report}]]
		var fromDateStr = [[${#dates.format(from, 'dd-MM-yyyy')}]]
		var toDateStr = [[${#dates.format(to, 'dd-MM-yyyy')}]]
	</script>
	<script th:src="@{/static/js/admin.report.js}" defer></script>
	<section class="container-fluid">
		<div class="row">
			<div class="col-md-2 col-sm-12 mt-3">
				<nav class="nav nav-pills flex-column ">
					<a class="nav-item nav-link active" th:href="@{/admin/}">Thống kê</a>
					<a class="nav-item nav-link" th:href="@{/admin/manage_accounts}">Quản lý tài khoản</a>
					<a class="nav-item nav-link" th:href="@{/admin/manage_questions}">Quản lý câu hỏi</a>
				</nav>
			</div>
			<div class="col-md-10 col-sm-12 mt-5">
				<div class="row justify-content-between">
					<div class="col-4">
						<p>Dữ liệu thống kê từ ngày <span class="font-italic d-inline-block" th:text="${#dates.format(from, 'dd-MM-yyyy')}"></span>
							đến ngày <span class="font-italic d-inline-block" th:text="${#dates.format(to, 'dd-MM-yyyy')}"></span>
						</p>
					</div>
					<div class="col-8">
						<form id="form" th:action="@{/admin}" class="form-inline justify-content-end" method="GET">
							<div class="form-group mb-2">
								<label for="from"  >Từ ngày:&nbsp;</label> <input
									class="form-control" id="from" name="from" type="date" />
							</div>
							<div class="form-group mx-sm-3 mb-2">
								<label for="to" >Đến ngày:&nbsp;</label> <input
									class="form-control" id="to" name="to" type="date" />
							</div>
							<button type="submit" class="btn btn-primary mb-2">Lọc
								ngày</button>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-12 p-md-5">
						<canvas id="report"></canvas>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>