<div xmlns:th="http://www.thymeleaf.org"
	th:replace="user\_layout :: base(content=~{::section},scripts=~{::script})">
	<script th:inline="javascript">
			var originContentString = [[${question.content}]]
			var originContent = JSON.parse(originContentString);
			var questionId =  [[${question.id}]]
			var userId = [[${userId}]]
			var owner = false
			var following = [[${following}]]
	</script>
	<script th:src="@{/static/js/user.replyQuestion.js}" defer></script>
	<script th:src="@{/static/js/user.viewQuestion.js}" defer></script>
	<!-- https://cdnjs.com/libraries/sockjs-client -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
	<!-- https://cdnjs.com/libraries/stomp.js/ -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
   
	<section class="container-fluid">
		<div class="row">
			<div class="col-md-2 col-sm-12 mt-3">
				<nav class="nav nav-pills flex-column ">
					<a class="nav-item nav-link" th:classappend="${categoryId == null} ? 'active'" th:href="@{/}">Tất cả</a> 
					<a	th:each="category : ${categories}" class="nav-item nav-link"
						th:text="${category.name}" th:classappend="${category.id == categoryId} ? 'active'"
						th:href="@{/(category=${category.id})}"></a>
				</nav>
			</div>
			<div class="col-md-10 col-sm-12 mt-5 px-md-5">
				<h4> <span th:text="${question.title}"></span> <i id="btnFollow" class="align-middle cursor-p" data-toggle="tooltip" data-placement="top" title="Quan tâm theo dõi câu hỏi này"
				th:classappend="${following} ? 'fas fa-star text-warning' : 'far fa-star text-success'"></i> 
				</h4> 
				<div class="row border-bottom border-dark">
					<a th:text="'Danh mục: ' + ${question.category.name}" th:href="@{search(category=${question.category.id})}" class="col-auto">Category</a>
					<div th:text="${question.view} + ' lượt xem'" class="col-auto font-italic text-warning">124 Lượt xem xem</div>
					<a th:href="@{/profile/{id}(id=${question.author.userName})}">
						<span th:text="'Tạo bởi ' + ${question.author.fullName} + ' ('+${question.author.userName}+') '" 
						class="col-auto font-italic text-warning">Tạo bởi HuuVV</span>
					</a>
					<div class="col-auto font-italic text-secondary" th:if="${question.updateTime != null}" 
					th:text="'Đã chỉnh sửa nội dung vào '+ ${#dates.format(question.updateTime, 'dd-MMM-yyyy HH:mm')}">Đã chỉnh sửa nội dung vào 26-4-2020 12h54</div>
				</div>
				
						<!-- Modal Follow -->
		<div class="modal fade" id="unfollow-question-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title text-danger" id="exampleModalLongTitle">Xác nhận </h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p>Bạn có muốn bỏ câu hỏi này ra khỏi danh sách theo dõi?</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-info" data-dismiss="modal">Không</button>
		        <button id="btnUnfollow" type="button" class="btn btn-success">Đồng ý</button>
		      </div>
		    </div>
		  </div>
		</div>
		
				<table class="mt-4 shadow-sm rounded .bg-secondary">
					<tbody>
						<tr>
							<td class="p-2">
								<div id="editor"></div>
							</td>
						</tr>
						<tr>
							<td>
								<div>
									<a th:href="@{/profile/{id}(id=${question.author.userName})}" th:text="${question.author.fullName}"
										class="font-italic text-info">Name</a> 
									<span
										th:text="'đã hỏi lúc ' + ${#dates.format(question.createTime, 'dd-MMM-yyyy HH:mm')}"
										class="font-italic text-info"> Time</span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div id="noAnswerLable" th:if = "${#lists.isEmpty(question.answers)}"
						th:text="'Chưa có câu trả lời cho câu hỏi này, hãy là người đầu tiên trả lời câu hỏi.'"
						class="mt-3 text-monospace text-danger ">
						Chưa có câu trả lời
				</div>
				<div th:if = "${not #lists.isEmpty(question.answers)}" 
					th:text="'Có ' + ${#lists.size(question.answers)} + ' câu trả lời'" 
					class="mt-3 text-monospace text-success font-weight-bold">
					Có 4 câu trả lời
				</div>
				<table class="mt-3 border-bottom border-secondary" th:if="${question.rightAnswerId != ''}">
					<tbody th:each = "answer : ${question.answers}" th:if="${answer.id == question.rightAnswerId}">
						<tr>
							<td class="align-middle" data-toggle="tooltip" data-placement="top" title="Câu trả lời này đã giải quyết được vấn đề của người hỏi">
								<i class="fas fa-check fa-3x text-primary"></i>
							</td>
							<td th:text="${answer.content}" class="text-info p-2" style="background-color: #e6e6ff;"> Nội dung.
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<div>
									<a th:href="@{/profile/{id}(id=${answer.author.userName})}" th:text="${answer.author.fullName}"
										class="font-italic text-info">Name</a> 
									<span
										th:text="'đã trả lời lúc ' + ${#dates.format(answer.createTime, 'dd-MMM-yyyy HH:mm')}"
										class="font-italic text-info"> Time</span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div id="answer-list">
					<th:block th:each = "answer : ${question.answers}">
						<table class="mt-3 border-bottom border-secondary">
							<tbody>
								<tr>							
									<td th:text="${answer.content}">Nội dung câu trả lời.</td>
								</tr>
								<tr>									
									<td>
										<div>
											<a th:href="@{/profile/{id}(id=${answer.author.userName})}" th:text="${answer.author.fullName}"
												class="font-italic text-info">Name</a> 
											<span
												th:text="'đã hỏi lúc ' + ${#dates.format(answer.createTime, 'dd-MMM-yyyy HH:mm')}"
												class="font-italic text-info"> Time</span>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</th:block>
				</div>				
				<div>Câu trả lời của bạn</div>
				<div>
					<textarea id="content" class="w-75 mh-100 mb-3 "
						style="height: 100px"></textarea>
				</div>
				<button id="btnCancle" class="btn btn-secondary">Hủy</button>
				<button id="btnReply" class="btn btn-success">Gửi câu trả lời</button>
			</div>
		</div>

	</section>
</div>