<div xmlns:th="http://www.thymeleaf.org"
	th:replace="user\_layout :: base(content=~{::section},scripts=~{::script}, links=~{::link})">

	<section class="container-fluid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Trang cá nhân</a></li>
				<li class="breadcrumb-item active" aria-current="page">Danh sách câu hỏi theo dõi</li>
			</ol>
		</nav>
		<div class="row m-3">
			<div class="col-2 list-group list-group-flush">
				<a th:href="@{/my_profile/posted_questions}" class="list-group-item list-group-item-action">Câu hỏi của tôi</a>
				<a th:href="@{/my_profile/star_questions}" class="list-group-item list-group-item-action active">Câu hỏi đã theo dõi</a>
				<a th:href="@{/my_profile/account}" class="list-group-item list-group-item-action ">Tài khoản</a>
				<a th:href="@{/my_profile/statistics}" class="list-group-item list-group-item-action ">Thống kê</a>
			</div>
			<div class="col">				
				<span class="text-success font-weight-italic"> <i class="far fa-check-square"></i>: Là đã có câu trả lời đúng</span>
				<table id="tableAdmin" class="table table-striped table-bordered table-hover">
					<thead>
					<tr>
						<th>STT</th><th scope="col">Tiêu đề</th><th>Danh mục</th><th>Lượt trả lời</th>
						<th>Lượt xem</th><th>Lượt quan tâm</th><th>Ngày đăng</th>
					</tr>
					<tr>
					<td colspan="8" th:class="${#lists.isEmpty(followingQuestions)} ? d-none : 'text-danger' "> Không có câu hỏi theo dõi trong danh sách</td>
					</tr>
					</thead>
					<tbody>
						<tr th:each="followingQuestion : ${followingQuestions}">						
								<th scope="row" th:text="${followingQuestionStat.count}">STT</th>
								<td scope="row"><a th:href="@{/questions/{id}(id=${followingQuestion.id})}" 
									th:text="${followingQuestion.title}">Tieu de</a></td>
								<td th:classAppend="${followingQuestion.rightAnswerId != ''? 'text-success':''}"> 
								<span th:text="${#lists.size(followingQuestion.answers)}">answers </span>
									<i th:if="${followingQuestion.rightAnswerId != ''}" class="far fa-check-square"></i>
								</td>
								<td th:text="${followingQuestion.view}">view</td>
								<td th:text="${followingQuestion.follower}">follower</td>
								<td th:text="${#dates.format(followingQuestion.createTime,'dd-MMM-YYY hh:MM')}">ngay dang</td>		
						</tr>							
					</tbody>
				</table>

								 <nav class="mt-5" aria-label="Pagination" th:if="${followingQuestions.totalPages gt 0}">
					<ul class="pagination justify-content-center font-weight-medium">
						<li class="page-item"
							th:classappend="${followingQuestions.number eq 0} ? 'disabled'"><a
							class="page-link svg-icon"
							th:href="@{/my_profile/star_questions/(page=${followingQuestions.number lt 2 ? 1 : followingQuestions.number})}"
							aria-label="Previous" title="Previous Page" rel="tooltip"> <span
								aria-hidden="true" data-feather="chevrons-left" width="20"
								height="20">Trang trước</span>
						</a></li>
						<li class="page-item"
							th:classappend="${i eq followingQuestions.number + 1} ? 'active'"
							th:each="i : ${#numbers.sequence( followingQuestions.number + 1, 
							followingQuestions.totalPages > 10 + followingQuestions.number ? followingQuestions.number + 10 : 
								followingQuestions.totalPages, 1)}">
							<a class="page-link"
							th:href="@{/my_profile/star_questions/(page=${i})}" th:text="${i}"
							th:title="${'Page '+ i}" rel="tooltip"></a>
						</li>
						<li class="page-item disabled"
							th:if="${followingQuestions.number + 10 < followingQuestions.totalPages}"><a
							class="page-link svg-icon" href="#"> <span
								data-feather="more-horizontal" width="20" height="20"></span>
						</a></li>
						<li class="page-item"
							th:classappend="${followingQuestions.number + 1 eq followingQuestions.totalPages} ? 'disabled'">
							<a class="page-link svg-icon"
							th:href="@{/my_profile/star_questions/(page=${followingQuestions.number + 2})}"
							aria-label="Next" title="Next Page" rel="tooltip"> <span
								aria-hidden="true" data-feather="chevrons-right" width="20"
								height="20">Trang kế tiếp</span>
						</a>
						</li>
					</ul>
				</nav> 
			</div>
		</div>
	</section>
</div>
